<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Daftar Course</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('Course')"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-justify">
                <h2>Daftar Course</h2>
                <br>
                <div class="col">
                    <a class="btn btn-primary" th:href="@{/course/add}">Tambah Course</a>
                    <a class="btn btn-primary" th:href="@{/}">Beranda</a>
                </div>
                <br>
                <table class="table">
                    <thead align="center">
                        <tr>
                            <th>No</th>
                            <th>Code</th>
                            <th>Nama</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr th:each="course, iterationStatus : ${listCourse}"
                        th:style="${iterationStatus.even} ? 'font-weight:bold;'">
                        <td th:text="${iterationStatus.count}"></td>
                        <td th:text="${course.code}"></td>
                        <td th:text="${course.nameCourse}"></td>
                        <td>
                            <div class="col">
                                <a class="btn btn-primary" th:href="@{/course/view(code=${course.code})}">Detail
                                    Course</a>
                                <a class="btn btn-outline-primary" th:href="@{/course/view-query(code=${course.code})}">Detail
                                    Course By Query</a>
                                <a class="btn btn-warning" th:href="@{/course/update/} + ${course.code}">Update Course</a>
                                <a class="btn btn-danger" th:href="@{/course/delete/} + ${course.code}">Delete Course</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <a class="btn btn-primary" href="/">Home</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>