<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Daftar User</title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar ('')"></nav>
<div th:if="${user.getRole().getRole() == 'Admin'}" class="container">
  <div class="card m-4 p-4">
    <div class="card-body">
      <div class="justify-content-center">
        <h2>Daftar Seluruh User</h2>
        <a class="btn btn-outline-success" th:href="@{/user/add}">+ Tambah User</a>
        <br>
        <br>
        <table class="table">
          <thead>
          <tr>
            <th>No</th>
            <th>Username User</th>
            <th>Nama User</th>
            <th>Email User</th>
            <th>Role User</th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="user, iterationStatus : ${listUser}">
            <td th:text="${iterationStatus.count}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.nama}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.role.role}"></td>
            <td><a class="btn btn-danger" th:href="@{/user/delete/} + ${user.id}">Hapus</a></td>
          </tr>
          </tbody>
        </table>
        <a class="btn btn-primary" href="/">Home</a>
      </div>
    </div>
  </div>
</div>
<div th:unless="${user.getRole().getRole() == 'Admin'}" class="container">
  <div class="card m-4 p-4">
    <div class="card-body">
      <div class="justify-content-center">
        <h2>Tidak dapat melihat seluruh user.</h2>
        <h2>Halaman ini khusus Admin</h2>
        <br>
        <a class="btn btn-primary" href="/">Kembali</a>
      </div>
    </div>
  </div>
</div>

</body>

</html>